/* Nơi chưa những phần khác nhau của mỗi page, nếu mỗi page có đặc điểm khác nhau
 bạn sẽ code ở đây */

 /* profile Page */
.tab {
}

.tab__links {
    background-color: var(--white-color);
    width: 100%;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 2.6rem;
    position: relative;
    width: 100%;
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.tab__links:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.tab__links--active {
    background-color: var(--primary-color);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
    color: var(--white-color);
}

.tab__links--active::after {
    position: absolute;
    left: 100%;
    content: "";
    border-style: solid;
    border-width: 1.3rem 0.6rem;
    border-color: transparent transparent transparent var(--primary-color);
}

.tab__links + .tab__links {
    margin-top: 8px;
}

.tab-content {
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 10px;
    min-width: 1px;
    display: none;
}


/* profile */

.profile-title,
.storage-title,
.users-title {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--primary-color);
}

#profile-info {
    font-size: 1.2rem;
    width: 50%;
}

.profile-info__form-group {
    display: flex;
    align-items: center;
}

.profile-info__form-group+.profile-info__form-group {
    margin-top: 16px;
}

.profile-info__label {
    width: 140px;
}

.profile-info__form-group input[type=text] {
    display: flex;
    flex: 1;
    padding: 4px 6px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#profile-info__update-message {
    color: var(--success-color);
}

/* CSS for storage */
.storage-container table,
.users-container table{
    width: 100%;
    border-collapse: collapse;
}

.users-container tr:nth-child(even),
.storage-container tr:nth-child(even) {
    background-color: #f2f2f2;
}

.users-container table th,
.storage-container table th {
    padding: 12px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.2rem;
}

.users-container td,
.storage-container td {
    padding: 6px 2px;
    text-align: center;
}

.users-container td a,
.storage-container td a {
    text-decoration: none;
} 

.text-disable {
    filter: opacity(0.6);
}

.storage-container td:first-child {
    width: 300px;
}


.users-container th,
.users-container td,
.storage-container th,
.storage-container td {
    border: 1px solid #ccc;
}

.users-container button+button,
.storage-container button+button {
    margin-left: 2px;
}

.tabble-borrower {
    width: 130px;
}

/* admin */
